
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.MessageTypes
@model CreateOrEditMessageTypeModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditMessageType")) : L("CreateNewMessageType")))

<div class="modal-body">
        <div id="MessageTypeInformationsTab">
            <form name="MessageTypeInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.MessageType.Id" />
                }

                <div class="form-group m-form__group">
                    <label for="MessageVersion">@L("Message")</label>
                    <div class="input-group">
                        <input class="form-control" id="MessageVersion" name="messageVersion" value="@Model.MessageVersion" type="text" disabled>
                        <div class="input-group-append">
                            <button class="btn btn-primary blue" id="OpenMessageLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
                        </div>
                        <div class="input-group-prepend">
                            <button class="btn btn-danger btn-icon" type="button" id="ClearMessageVersionButton"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>

                @if (Model.IsEditMode)
                {
                    <input class="form-control" id="MessageType_MessageId" value="@Model.MessageType.MessageId" type="text" name="messageId" required hidden />
                }
                else
                {
                    <input class="form-control" id="MessageType_MessageId" value="" type="text" name="messageId" required hidden />
                }


                <div class="form-group">
                    <label for="MessageType_Name">@L("Name")</label>
                    <input class="form-control" id="MessageType_Name" value="@Model.MessageType.Name" type="text" name="name" required />
                </div>

                <div class="form-group">
                    <label for="MessageType_Source">@L("Source")</label>
                    <input class="form-control" id="MessageType_Source" value="@Model.MessageType.Source" type="text" name="source" required />
                </div>

                <div class="m-checkbox-list">
                    <label for="MessageType_IsActive" class="kt-checkbox">
                        <input id="MessageType_IsActive" type="checkbox" name="isActive" value="true" @Html.Raw(Model.MessageType.IsActive ? "checked=\"checked\"" : "") />
                        @L("IsActive")
                        <span></span>
                    </label>
                </div>


            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
