
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.MessageTypes
@model MessageTypeViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="MessageTypeInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.MessageType.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Source") :</h6>
                @Model.MessageType.Source
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsActive") :</h6>
                @Model.MessageType.IsActive
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Message")) @L("Version") :</h6>
                @Model.MessageVersion
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

