@using RMS.Web.Areas.App.Models.Campaigns
@model CampaignViewModel

<head>
    <script src="~/view-resources/Areas/App/Views/Campaigns/_CampaignDetails.js"></script>
</head>

<div class="@(await GetContainerClass())">
    <div class="col-6">
        <div class="row mb-3">
            <div class="col-6 mb-3 ml-5">
                @if (Model.CampaignCampaignType.Count > 0)
                {
                    <h6>@L("CampaignType") :</h6>
                    @foreach (var campaignType in Model.CampaignCampaignType)
                    {
                        <ul>
                            <li>
                                @campaignType.CampaignTypeName.ToUpper()
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <label>No campaign types for this campaigns. Please go to Edit campaign to add a campaign type for the campaign.</label>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mb-3 ml-5">
                <h6>@L("CampaignCode") :</h6>
                @Model.Campaign.CampaignCode
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mb-3 ml-5">
                <h6>@L("ExternalCode") :</h6>
                @Model.Campaign.ExternalCode
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mb-3 ml-5">
                <h6>@L("ExternalId") :</h6>
                @Model.Campaign.ExternalId
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mb-3 ml-5">
                <h6>@L("Name") :</h6>
                @Model.Campaign.Name
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mb-3 ml-5">
                <h6>@L("Description") :</h6>
                @Model.Campaign.Description
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mb-3 ml-5">
                <h6>@L("StartDate") :</h6>
                @Model.Campaign.StartDate.ToString("dd-MM-yyyy")
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mb-3 ml-5">
                <h6>@L("EndDate") :</h6>
                @Model.Campaign.EndDate.ToString("dd-MM-yyyy")
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mb-3 ml-5">
                <h6>@L("ThumbnailImagePath") :</h6>
                @Model.Campaign.ThumbnailImagePath
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mb-3 ml-5">
                <h6>@L("BannerImagePath") :</h6>
                @Model.Campaign.BannerImagePath
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mb-3 ml-5">
                <button type="button" id="goBackBtn" class="btn btn-secondary float-left mr-3 ml-3">@L("BackToOverview")</button>
            </div>
        </div>
    </div>
</div>