@using RMS.Web.Areas.App.Models.Campaigns
@model CampaignViewModel

<head>
    <script src="~/view-resources/Areas/App/Views/Campaigns/_CampaignForm.js"></script>
</head>

<div id="dvCampaignForms">
    <div class="@(await GetContainerClass())">
        <input type="hidden" id="Editable" value="@Model.Editable" />
        @*<button id="campaignFormFromCompany" class="btn btn-primary blue" style="float:right">Create New Form Locale from Company</button>*@
        @if (Model.CampaignFormLocales.Count() > 0)
        {
            <div class="row">
                <!--Add Localization text-->
                <label>Choose your Locale</label>
            </div>
            <select class="formLocale">
                <!--Add Localization text-->
                <option hidden disabled selected>Select a Locale</option>
                @foreach (var item in Model.CampaignFormLocales)
                {
                    <option value="@item.FormLocale.Id.ToString()" data-formLocaleId="@item.FormLocale.Id" data-localeId="@item.FormLocale.LocaleId">@item.FormLocale.Description</option>
                }
            </select>
            <div id="dvFormLocaleBlock" style="display: none; padding: 15px 0px 0px 0px" />
        }
        else
        {
            <!--Add Localization text-->
            <label>No Forms created for the current Campaign. In order to create a campaign form, please edit the Campaign</label>
        }
    </div>
</div>