@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.Campaigns
@model CreateOrEditCampaignModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditCampaign")) : L("CreateNewCampaign")))
   
<head>
    <link href="~/Common/Styles/SBJ/campaign.min.css" rel="stylesheet" asp-append-version="true"/>
</head>

<div class="modal-body">
        <div id="CampaignInformationsTab">
            <form name="CampaignInformationsForm" role="form" novalidate class="form-validation">

                <input id="pageSource" type="text" value="@RMS.SBJ.Forms.FormConsts.Campaign" hidden />

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Campaign.Id" />
                    <input class="form-control" id="CampaignForm_FormId" value="@Model.CampaignFormModel.CampaignForm?.FormId" type="text" name="campaignformFormId" required hidden />
                    <input class="form-control" id="CampaignForm_Id" value="@Model.CampaignFormModel.CampaignForm?.Id" type="text" name="campaignformId" required hidden />
                    <input class="form-control" id="CampaignMessage_MessageId" value="@Model.CampaignMessageModel.CampaignMessage?.MessageId" type="text" name="campaignmessageMessageId" required hidden />
                    <input class="form-control" id="CampaignMessage_Id" value="@Model.CampaignMessageModel.CampaignMessage?.Id" type="text" name="campaignmessageId" required hidden />
                }

                <div class="form-group">
                    <label for="Campaign_Name">@L("Name")</label>
                    <input class="form-control" id="Campaign_Name" value="@Model.Campaign.Name" type="text" name="name" required />
                </div>

                <div class="form-group">
                    <label for="Campaign_Description">@L("Description")</label>
                    <input class="form-control" id="Campaign_Description" value="@Model.Campaign.Description" type="text" name="description" />
                </div>

                <div class="form-group">
                    <label for="Campaign_StartDate">@L("StartDate")</label>
                    <input class="form-control m-input date-picker" id="Campaign_StartDate" type="text" name="startDate" value="@Model.Campaign.StartDate" />
                </div>

                <div class="form-group">
                    <label for="Campaign_EndDate">@L("EndDate")</label>
                    <input class="form-control m-input date-picker" id="Campaign_EndDate" type="text" name="endDate" value="@Model.Campaign.EndDate" />
                </div>

                <div class="form-group">
                    <label for="Campaign_CampaignCode">@L("CampaignCode")</label>
                    <input class="form-control m-input" id="Campaign_CampaignCode" value="@Model.Campaign.CampaignCode.ToString(CultureInfo.InvariantCulture)" type="number" name="campaignCode" />
                </div>

                <div class="form-group">
                    <label for="Campaign_ExternalCode">@L("ExternalCode")</label>
                    <input class="form-control" id="Campaign_ExternalCode" value="@Model.Campaign.ExternalCode" type="text" name="externalCode" />
                </div>

                <div class="form-group">
                    <label for="CampaignTypeIdList">@L("CampaignCampaignType")</label>

                    <select id="CampaignTypeIdList" class="form-control" multiple required name="campaignTypeIdList[]">
                        @foreach (var item in Model.CampaignTypeViewModelList)
                        {
                            if (item.IsSelected)
                            {
                                <option id="@item.CampaignTypeId" value="@item.CampaignTypeId" selected data-campaign-campaign-type-id="@item.CampaignCampaignTypeId" data-campaign-id="@item.CampaignId">@item.CampaignTypeName</option>
                            }
                            else
                            {
                                <option id="@item.CampaignTypeId" value="@item.CampaignTypeId" data-campaign-campaign-type-id="@item.CampaignCampaignTypeId" data-campaign-id="@item.CampaignId">@item.CampaignTypeName</option>

                            }
                        }
                    </select>
                </div>
            </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
