@using RMS.Web.Areas.App.Models.Campaigns
@model CampaignViewModel
@{
    ViewData["Title"] = "CampaignOverview";
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Campaigns/CampaignOverview.js" asp-append-version="true"></script>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <input type="hidden" id="CampaignId" value="@Model.Campaign.Id" />
    <input type="hidden" id="Editable" value="@Model.Editable.ToString().ToLower()" />

    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("CampaignManagement")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @L("CampaignDetailsHeaderInfo")
                </span>
            </div>
        </div>
    </div>

    <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <ul id="campaignTabs" class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="CampaignDetailsTab" data-toggle="tab" href="#campaignDetails">@L("CampaignDetails")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="CampaignFormTab" data-toggle="tab" href="#campaignForm">@L("CampaignForms")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="CampaignMessageTab" data-toggle="tab" href="#campaignMessage">@L("CampaignMessage")</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fadeIn active" id="campaignDetails" role="tabpanel">
                        @await Html.PartialAsync("_CampaignDetails", Model)
                    </div>
                    <div class="tab-pane fade" id="campaignForm" role="tabpanel">
                        <div id="dvCampaignForms"></div>
                    </div>
                    <div class="tab-pane fade" id="campaignMessage" role="tabpanel">
                        <div id="dvCampaignMessages"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script src="~/view-resources/Areas/App/Views/Campaigns/CampaignFormAndMessage.js"></script>
