@model RMS.SBJ.Registrations.Dtos.ProcessRegistration.FormField
@{
    var disableLabel = (bool)ViewData["DisableLabel"];
}

@if (Model.FieldLineId.HasValue)
{
    @if (!disableLabel)
    {
        <label for="@("Line" + Model.FieldType + "__" + Model.FieldLineId.Value.ToString() + Model.FieldId.ToString())">@Model.FieldLabel</label>
    }

    <div class="input-group">
        <div class="input-group-prepend">
            <label class="switch switch__registration-approval">
                <input id="@("LineFieldRejected__" + Model.FieldType + "__" + Model.FieldLineId.Value.ToString() + Model.FieldId.ToString())" type="checkbox" checked="@(!Model.IsRejected)" disabled="@Model.IsReadOnly">
                <span class="slider round"></span>
            </label>
        </div>
        <input id="@("Line" + Model.FieldType + "__" + Model.FieldLineId.Value.ToString() + Model.FieldId.ToString())" type="date" class="form-control field__datepicker" value="@Model.FieldValue" disabled="@Model.IsReadOnly" />
    </div>
}
else
{
    @if (!disableLabel)
    {
        <label for="@(Model.FieldType + "__" + Model.FieldId)">@Model.FieldLabel</label>
    }

    <div class="input-group">
        <div class="input-group-prepend">
            <label class="switch switch__registration-approval">
                <input id="@("FieldRejected__" + Model.FieldType + "__" + Model.FieldId)" type="checkbox" checked="@(!Model.IsRejected)" disabled="@Model.IsReadOnly">
                <span class="slider round"></span>
            </label>
        </div>
        <input id="@(Model.FieldType + "__" + Model.FieldId)" type="date" class="form-control field__datepicker" value="@Model.FieldValue" disabled="@Model.IsReadOnly" />
    </div>
}
