
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.ValueLists
@model CreateOrEditValueListModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditValueList")) : L("CreateNewValueList")))

<div class="modal-body">
        <div id="ValueListInformationsTab">
            <form name="ValueListInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.ValueList.Id" />
                }

				

				
								<div class="form-group">
									<label for="ValueList_Description">@L("Description")</label>
									<input class="form-control" id="ValueList_Description" value="@Model.ValueList.Description" type="text" name="description"     />
								</div>
					
								<div class="form-group">
									<label for="ValueList_ListValueApiCall">@L("ListValueApiCall")</label>
									<input class="form-control" id="ValueList_ListValueApiCall" value="@Model.ValueList.ListValueApiCall" type="text" name="listValueApiCall"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
