
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.Forms
@model CreateOrEditFormModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditForm")) : L("CreateNewForm")))

<div class="modal-body">
        <div id="FormInformationsTab">
            <form name="FormInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Form.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="SystemLevelDescription">@L("SystemLevel")</label>
									    <div class="input-group">
											<input class="form-control" id="SystemLevelDescription" name="systemLevelDescription" value="@Model.SystemLevelDescription" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenSystemLevelLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearSystemLevelDescriptionButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="Form_SystemLevelId" value="@Model.Form.SystemLevelId" type="text" name="systemLevelId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="Form_SystemLevelId" value="" type="text" name="systemLevelId" required hidden/>
								}



				
								<div class="form-group">
									<label for="Form_Version">@L("Version")</label>
									<input class="form-control" id="Form_Version" value="@Model.Form.Version" type="text" name="version"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
