@using RMS.Web.Areas.App.Models.Forms
@model FormsViewModel;

<head>
    <link href="~/Common/Styles/SBJ/forms.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <script src="~/assets/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/view-resources/Areas/App/Views/Forms/PopulateFormLocaleBlocks.js"></script>
    <link rel="stylesheet" abp-href="/Common/Styles/SBJ/pages.min.css" asp-append-version="true" />
</head>

<body>
    <div id="dvFormLocaleBlock">
        <!-- #region Display mapped form blocks as draggable portlets -->
        <input type="hidden" id="Editable" value="@Model.Editable.ToString().ToLower()" />
        @if (Model.MappedFormBlocks == null || Model.MappedFormBlocks.Count == 0)
        {
            <div class="row">
                <label>There are no form blocks mapped to this form locale yet...</label>
            </div>
            <div class="row">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div class="column selectedFormLocaleBlocks emptySelectedFormLocaleBlocks"></div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div class="column selectedFormLocaleBlocks" style="width: 50% !important;">
                            @foreach (var block in Model.MappedFormBlocks)
                            {
                                <div class="portlet formBlock" data-formBlockId="@block.FormBlock.Id" data-value="@block.FormBlock.Description" data-formLocaleId="@block.FormBlock.FormLocaleId" data-purchase="@block.FormBlock.IsPurchaseRegistration">
                                    <div class="portlet-header formBlockPortletHeader" id="@block.FormBlock.Id">
                                        @block.FormBlock.Description
                                    </div>
                                    <div class="portlet-content" contenteditable="false">
                                        @foreach (var field in Model.MappedFormBlockFields.Where(f => f.FormBlockField.FormBlockId == block.FormBlock.Id))
                                        {
                                            <div class="column selectedFormLocaleFields" style="width: 100% !important;">
                                                <div class="portlet" id="@("MappedFieldView__" + block.FormBlock.Id + field.FormBlockField.FormFieldId)" data-formFieldId="@field.FormBlockField.FormFieldId" data-formLocaleId="@Model.Locale.LastOrDefault().Locale.Id" data-formFieldTranslationId="@field.FormFieldTranslationId">
                                                    <div class="portlet-header formFieldPortletHeader">
                                                        <span class="formFieldTranslation">@field.FormFieldDescription</span>
                                                        @*<span class='ui-icon ui-icon-pencil'></span>*@
                                                    </div>
                                                    <div class="portlet-content" name="FormFieldView" contenteditable="false">
                                                        <partial name="/Areas/App/Views/Forms/_DisplayFormLocaleField.cshtml" model="field.FormBlockFieldForEdit" />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="portlet-footer">
                                        <div class="unmappedFieldList">
                                            <select id="@("UnmappedFieldList__" + block.FormBlock.Id)" name="UnmappedFieldList" type="number" style="font-style: italic;" class="form-control field__dropdown-menu">
                                                <option value="0" selected>- unmapped form fields -</option>
                                                @foreach (var field in Model.UnmappedFormFields.Where(f => f.BlockId == block.FormBlock.Id))
                                                {
                                                    <option value="@(field.BlockId.ToString() + @field.FieldId.ToString())">@field.DropDownDesc</option>
                                                }
                                                @*<option value="-1">- brand new form field -</option>*@
                                            </select>
                                        </div>
                                        @foreach (var field in Model.UnmappedFormFields.Where(f => f.BlockId == block.FormBlock.Id))
                                        {
                                            <div id="@("UnmappedFieldView__" + block.FormBlock.Id + field.FieldId)" class="d-none">
                                                <partial name="/Areas/App/Views/Forms/_DisplayFormLocaleField.cshtml" model="field" />
                                            </div>
                                            <div id="@("UnmappedFieldButt__" + block.FormBlock.Id + field.FieldId)" class="d-none">
                                                <div class="unmappedFieldButt">
                                                    <button id="@("AddFormFieldToFormBlock__" + block.FormBlock.Id + field.FieldId)" name="AddFormFieldToFormBlock" class="btn btn-primary blue mr-2">Add field to this block</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- #endregion -->
        <!-- #region Display unmapped form blocks-->
        @if (Model.UnmappedFormBlocks != null && Model.UnmappedFormBlocks.Count > 0)
        {
            <div class="row">
                <label id="lblAvailable">Other (unmapped) form blocks...</label>
            </div>
            <div class="row">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div class="column availableFormLocaleBlocks">
                            @foreach (var block in Model.UnmappedFormBlocks)
                            {
                                <div class="availablePortlet" data-formBlockId="@block.FormBlock.Id" data-value="@block.FormBlock.Description" data-formLocaleId="@block.FormBlock.FormLocaleId" data-purchase="@block.FormBlock.IsPurchaseRegistration">
                                    <div class="portlet-header" id="@block.FormBlock.Id"> @block.FormBlock.Description</div>
                                    @foreach (var field in Model.UnmappedFormBlockFields)
                                    {
                                        @if (block.FormBlock.Id == field.FormBlockField.FormBlockId)
                                        {
                                            <div class="portlet-content">@field.FormFieldDescription</div>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- #endregion -->
        <div id="SaveChanges">
            <button id="UpdateFormLocaleBlocks" class="btn btn-primary blue mr-2">Save Changes</button>
            @*<button id="CreateNewFormBlockButton" class="btn btn-primary blue mr-2"><i class="fa fa-plus"></i> @L("CreateNewFormBlock")</button>*@
        </div>
    </div>
</body>
