
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.ProductCategoryYearPOs
@model ProductCategoryYearPOViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ProductCategoryYearPOInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Year") :</h6>
                @Model.ProductCategoryYearPo.Year
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PoNumberHandling") :</h6>
                @Model.ProductCategoryYearPo.PoNumberHandling
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PoNumberCashback") :</h6>
                @Model.ProductCategoryYearPo.PoNumberCashback
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("ProductCategory")) @L("Code") :</h6>
                @Model.ProductCategoryCode
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

