
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.CampaignTypeEvents
@model CreateOrEditCampaignTypeEventModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditCampaignTypeEvent")) : L("CreateNewCampaignTypeEvent")))

<div class="modal-body">
        <div id="CampaignTypeEventInformationsTab">
            <form name="CampaignTypeEventInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.CampaignTypeEvent.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="CampaignTypeName">@L("CampaignType")</label>
									    <div class="input-group">
											<input class="form-control" id="CampaignTypeName" name="campaignTypeName" value="@Model.CampaignTypeName" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenCampaignTypeLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearCampaignTypeNameButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="CampaignTypeEvent_CampaignTypeId" value="@Model.CampaignTypeEvent.CampaignTypeId" type="text" name="campaignTypeId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="CampaignTypeEvent_CampaignTypeId" value="" type="text" name="campaignTypeId" required hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="ProcessEventName">@L("ProcessEvent")</label>
									    <div class="input-group">
											<input class="form-control" id="ProcessEventName" name="processEventName" value="@Model.ProcessEventName" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenProcessEventLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearProcessEventNameButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="CampaignTypeEvent_ProcessEventId" value="@Model.CampaignTypeEvent.ProcessEventId" type="text" name="processEventId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="CampaignTypeEvent_ProcessEventId" value="" type="text" name="processEventId" required hidden/>
								}



				
								<div class="form-group">
									<label for="CampaignTypeEvent_SortOrder">@L("SortOrder")</label>
									<input class="form-control m-input" id="CampaignTypeEvent_SortOrder" value="@Model.CampaignTypeEvent.SortOrder.ToString(CultureInfo.InvariantCulture)" type="number" name="sortOrder"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
