
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.FormBlockFields
@model FormBlockFieldViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="FormBlockFieldInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("SortOrder") :</h6>
                @Model.FormBlockField.SortOrder
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("FormField")) @L("Description") :</h6>
                @Model.FormFieldDescription
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("FormBlock")) @L("Description") :</h6>
                @Model.FormBlockDescription
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

