
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.PurchaseRegistrationFormFields
@model CreateOrEditPurchaseRegistrationFormFieldModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPurchaseRegistrationFormField")) : L("CreateNewPurchaseRegistrationFormField")))

<div class="modal-body">
        <div id="PurchaseRegistrationFormFieldInformationsTab">
            <form name="PurchaseRegistrationFormFieldInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.PurchaseRegistrationFormField.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="FormFieldDescription">@L("FormField")</label>
									    <div class="input-group">
											<input class="form-control" id="FormFieldDescription" name="formFieldDescription" value="@Model.FormFieldDescription" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenFormFieldLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearFormFieldDescriptionButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PurchaseRegistrationFormField_FormFieldId" value="@Model.PurchaseRegistrationFormField.FormFieldId" type="text" name="formFieldId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PurchaseRegistrationFormField_FormFieldId" value="" type="text" name="formFieldId"  hidden/>
								}



				
								<div class="form-group">
									<label for="PurchaseRegistrationFormField_Description">@L("Description")</label>
									<input class="form-control" id="PurchaseRegistrationFormField_Description" value="@Model.PurchaseRegistrationFormField.Description" type="text" name="description"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
