@using RMS.Web.Areas.App.Models.HandlingBatches
@using RMS.Web.Areas.App.Startup

@model NewHandlingBatchViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Common.HandlingBatches; }
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/HandlingBatches/CreateCashRefund.js" asp-append-version="true"></script>
}
@section Styles
{
    <link rel="stylesheet" abp-href="/Common/Styles/SBJ/pages.min.css" asp-append-version="true" />
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    @*<span>@(Model.IsEditMode ? (L("EditHandlingBatch")) : L("CreateNewHandlingBatch"))</span>*@
                    <span>@L("CreateNewCashRefundBatch")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <div class="kt-subheader__breadcrumbs">
                    <a href="/App/HandlingBatches" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i>&thinsp;@L("HandlingBatches")</a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="javascript:;" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                        @*@(Model.IsEditMode ? (L("Edit")) : L("Create"))*@
                        @L("Create")
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <form name="HandlingBatchInformationsForm" role="form" novalidate class="form-validation">
                <div class="kt-portlet__body">
                    <div class="kt-form">
                        <div id="HandlingBatchInformationsTab">                           
                            <input type="hidden" id="BatchableRegistrations" value="@Model.InformationForNewCashRefundBatch.TotalBatchableRegistrations" />
                            <table id="NewCashRefundTable" class="display table table-bordered table-hover dt-responsive nowrap">
                                <thead style="background-color: #f7f8fa;">
                                    <th>@L("CashRefundUIFirstHeader")</th>
                                    <th>@L("CashRefundUISecondHeader")</th>
                                    <th>@L("CashRefundUIThirdHeader")</th>
                                    <th>@L("CashRefundUIFourthHeader")</th>
                                </thead>
                                <tbody>
                                    @foreach (var campaignInformation in Model.InformationForNewCashRefundBatch.CampaignInformation)
                                    {
                                        <tr style="background-color: white">
                                            <td class="arrowless">
                                                <input id="@("batchable_" + campaignInformation.CampaignId)" type="number" style="color: orange; font-weight: bold" class="form-control field__number batchable" value="@campaignInformation.BatchableRegistrationsCount" />
                                            </td>
                                            <td>
                                                @campaignInformation.CampaignName
                                            </td>
                                            <td>
                                                <label id="@("approved_" + campaignInformation.CampaignId)">@campaignInformation.ApprovedRegistrationsCount</label>
                                            </td>
                                            <td>
                                                <label style="color: orange; font-weight: bold">&euro;</label> <label id="@("refund_" + campaignInformation.CampaignId)" style="color: orange; font-weight: bold">@campaignInformation.RefundAmount.ToString("0.00")</label>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.InformationForNewCashRefundBatch.TotalBatchableRegistrationsCount > 0)
                                    {
                                        <tr id="totalrow" style="background-color: lightgreen">
                                            <td>
                                                <strong>@L("PickRegistrations"): <label id="totalbatchable">@Model.InformationForNewCashRefundBatch.TotalBatchableRegistrationsCount</label></strong>
                                                <br /><label id="conclusion">ready to go into batch</label>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <label id="totalapproved">@Model.InformationForNewCashRefundBatch.TotalApprovedRegistrationsCount</label>
                                            </td>
                                            <td>
                                                <label style="font-weight: bold">&euro;</label> <label id="totalrefund" style="font-weight: bold">@Model.InformationForNewCashRefundBatch.TotalRefundAmount.ToString("0.00")</label>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr id="totalrow" style="background-color: lightyellow">
                                            <td>
                                                <strong>@L("PickRegistrations"): <label id="totalbatchable">@Model.InformationForNewCashRefundBatch.TotalBatchableRegistrationsCount</label></strong>
                                                <br /><label id="conclusion">no registrations picked</label>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <label id="totalapproved">@Model.InformationForNewCashRefundBatch.TotalApprovedRegistrationsCount</label>
                                            </td>
                                            <td>
                                                <label style="font-weight: bold">&euro;</label> <label id="totalrefund" style="font-weight: bold">@Model.InformationForNewCashRefundBatch.TotalRefundAmount.ToString("0.00")</label>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            @if (Model.InformationForNewCashRefundBatch.TotalBatchableRegistrationsCount > 0)
                            {
                                <button type="button" id="saveBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("CreateAndEnqueueCashRefundBatch")</button>
                            }
                            else
                            {
                                <button type="button" id="saveBtn" class="btn btn-success float-right" style="cursor:default" disabled><i class="fa fa-save"></i> @L("CreateAndEnqueueCashRefundBatch")</button>
                            }
                            <button type="button" id="goBackBtn" class="btn btn-secondary float-right mr-3 ml-3">@L("GoBack")</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>