@using RMS.Web.Areas.App.Startup
@using RMS.Web.Areas.App.Models.HandlingBatches
@using RMS.SBJ.HandlingBatch.Helpers;

@model ViewHandlingBatchViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Common.HandlingBatches; }
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/HandlingBatches/ViewActivationCode.js" asp-append-version="true"></script>
}

<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("Details")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <div class="kt-subheader__breadcrumbs">
                    <a href="/App/HandlingBatches" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i>&thinsp;@L("HandlingBatches")</a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="javascript:;" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                        @L("Details")
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div id="HandlingBatchInformationsTab">
                    <input type="hidden" id="Id" value="@Model.ActivationCodeBatchForView.Id" />
                    <table cellpadding="5">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>@L("ActivationCodeBatchId")</strong>
                                </td>
                                <td>
                                    @Model.ActivationCodeBatchForView.Id
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>@L("CreatedOn"):</strong>
                                </td>
                                <td>
                                    @Model.ActivationCodeBatchForView.CreatedOn.ToString("dd-MM-yyyy HH:mm")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>@L("NumberOfRegistrations"):</strong>
                                </td>
                                <td>
                                    @Model.ActivationCodeBatchForView.RegistrationsCount
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>@L("NumberOfActivationCodes"):</strong>
                                </td>
                                <td>
                                    @Model.ActivationCodeBatchForView.ActivationCodeCount
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>@L("CurrentStatus"):</strong>
                                </td>
                                <td>
                                    @Model.ActivationCodeBatchForView.StatusDescription
                                </td>
                            </tr>
                            @if (!String.IsNullOrWhiteSpace(Model.ActivationCodeBatchForView.Remarks))
                            {
                                <tr>
                                    <td>
                                        <strong>@L("Remarks"):</strong>
                                    </td>
                                    <td>
                                        @Model.ActivationCodeBatchForView.Remarks
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <button id="ExportToExcelButton" class="btn btn-outline-info">@L("DownloadInExcel")</button>
                        @if (Model.ActivationCodeBatchForView.StatusCode == HandlingBatchStatusCodeHelper.Pending)
                        {
                            <button id="ProcessActivationCodesButton" class="btn btn-outline-success">@L("SendActivationCodes")</button>
                        }
                        <button type="button" id="goBackBtn" class="btn btn-secondary float-right mr-3 ml-3">@L("GoBack")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
