@using RMS.Authorization
@using RMS.Web.Areas.App.Startup
@using RMS.Web.Areas.App.Models.MakitaCampaigns
@model MakitaCampaignProductsModel
@{ ViewBag.CurrentPageName = AppPageNames.Common.MakitaCampaigns; }
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/MakitaCampaigns/Index.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/Campaigns/Index.js" asp-append-version="true"></script>
}


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div class="kt-container ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("MakitaCampaigns")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">

                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button id="GetMakitaCampaignsButton" class="btn btn-outline-success" type="submit">Update campaigns</button>
                    <button id="GetMakitaRetailersButton" class="btn btn-outline-success" type="submit">Update retailers</button>
                    @*<input id="MakitaCampaignProductsFilter"
                        name="MakitaCampaignProductsFilter"
                        type="text" />*@
                    <button id="GetMakitaCampaignProductsButton" class="btn btn-outline-success" type="submit">Update products for campaign</button>
                </div>
            </div>
        </div>
    </div>



    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="kt-form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="CampaignsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")">
                                    <span class="input-group-btn">
                                        <button id="GetCampaignsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NameFilterId">@L("Name")</label>
                            <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DescriptionFilterId">@L("Description")</label>
                            <input type="text" class="form-control" name="descriptionFilter" id="DescriptionFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinStartDateFilterId">@L("StartDateRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinStartDateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxStartDateFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEndDateFilterId">@L("EndDateRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinEndDateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxEndDateFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinCampaignCodeFilterId">@L("MinMax") @L("CampaignCode")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minCampaignCodeFilter" id="MinCampaignCodeFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxCampaignCodeFilter" id="MaxCampaignCodeFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ExternalCodeFilterId">@L("ExternalCode")</label>
                            <input type="text" class="form-control" name="externalCodeFilter" id="ExternalCodeFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="CampaignsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("Name")</th>
                                <th>@L("StartDate")</th>
                                <th>@L("EndDate")</th>
                                <th>@L("CampaignCode")</th>
                                <th>@L("ExternalCode")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>