
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.FormFieldTranslations
@model CreateOrEditFormFieldTranslationModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditFormFieldTranslation")) : L("CreateNewFormFieldTranslation")))

<div class="modal-body">
        <div id="FormFieldTranslationInformationsTab">
            <form name="FormFieldTranslationInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.FormFieldTranslation.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="FormFieldDescription">@L("FormField")</label>
									    <div class="input-group">
											<input class="form-control" id="FormFieldDescription" name="formFieldDescription" value="@Model.FormFieldDescription" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenFormFieldLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearFormFieldDescriptionButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="FormFieldTranslation_FormFieldId" value="@Model.FormFieldTranslation.FormFieldId" type="text" name="formFieldId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="FormFieldTranslation_FormFieldId" value="" type="text" name="formFieldId" required hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="LocaleLanguageCode">@L("Locale")</label>
									    <div class="input-group">
											<input class="form-control" id="LocaleLanguageCode" name="localeLanguageCode" value="@Model.LocaleLanguageCode" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenLocaleLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearLocaleLanguageCodeButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="FormFieldTranslation_LocaleId" value="@Model.FormFieldTranslation.LocaleId" type="text" name="localeId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="FormFieldTranslation_LocaleId" value="" type="text" name="localeId" required hidden/>
								}



				
								<div class="form-group">
									<label for="FormFieldTranslation_Label">@L("Label")</label>
									<input class="form-control" id="FormFieldTranslation_Label" value="@Model.FormFieldTranslation.Label" type="text" name="label"     />
								</div>
					
								<div class="form-group">
									<label for="FormFieldTranslation_DefaultValue">@L("DefaultValue")</label>
									<input class="form-control" id="FormFieldTranslation_DefaultValue" value="@Model.FormFieldTranslation.DefaultValue" type="text" name="defaultValue"     />
								</div>
					
								<div class="form-group">
									<label for="FormFieldTranslation_RegularExpression">@L("RegularExpression")</label>
									<input class="form-control" id="FormFieldTranslation_RegularExpression" value="@Model.FormFieldTranslation.RegularExpression" type="text" name="regularExpression"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
