
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.Companies
@model CompanyViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="CompanyInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.Company.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PhoneNumber") :</h6>
                @Model.Company.PhoneNumber
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmailAddress") :</h6>
                @Model.Company.EmailAddress
            </div>
            <div class="col-6 mb-3">
                <h6>@L("BICCashBack") :</h6>
                @Model.Company.BICCashBack
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IBANCashBack") :</h6>
                @Model.Company.IBANCashBack
            </div>

            <div class="col-6 mb-3">
                <h6>@L("PostalCode") :</h6>
                @Model.AddressPostalCode
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

