@using RMS.Authorization
@using RMS.Web.Areas.App.Models.Companies
@using RMS.Web.Areas.App.Startup
@model CompaniesViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Companies;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Companies/Index.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
 <div class="kt-subheader kt-grid__item">
  <div class="@(await GetContainerClass())">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <span>@L("Companies")</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">
            @L("CompaniesHeaderInfo")
        </span>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_Companies_Create))
            {
                <button id="CreateNewCompanyButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewCompany")</button>
            }
        </div>
    </div>
  </div>
</div>
<div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="CompaniesTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetCompaniesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="NameFilterId">@L("Name")</label>
									<input type="text" class="form-control" name="nameFilter" id="NameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="PhoneNumberFilterId">@L("PhoneNumber")</label>
									<input type="text" class="form-control" name="phoneNumberFilter" id="PhoneNumberFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="EmailAddressFilterId">@L("EmailAddress")</label>
									<input type="text" class="form-control" name="emailAddressFilter" id="EmailAddressFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="BICCashBackFilterId">@L("BICCashBack")</label>
									<input type="text" class="form-control" name="bicCashBackFilter" id="BICCashBackFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="IBANCashBackFilterId">@L("IBANCashBack")</label>
									<input type="text" class="form-control" name="ibanCashBackFilter" id="IBANCashBackFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AddressPostalCodeFilterId">@L("PostalCode")</label>
									<input type="text" class="form-control" name="addressPostalCodeFilter" id="AddressPostalCodeFilterId">
								</div>
                            </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="CompaniesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("Name")</th>
								<th>@L("PhoneNumber")</th>
								<th>@L("EmailAddress")</th>
								<th>@L("BICCashBack")</th>
								<th>@L("IBANCashBack")</th>
								<th>@L("PostalCode")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>