
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.MakitaSerialNumbers
@model CreateOrEditMakitaSerialNumberModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditMakitaSerialNumber")) : L("CreateNewMakitaSerialNumber")))

<div class="modal-body">
        <div id="MakitaSerialNumberInformationsTab">
            <form name="MakitaSerialNumberInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.MakitaSerialNumber.Id" />
                }

				

				
								<div class="form-group">
									<label for="MakitaSerialNumber_ProductCode">@L("ProductCode")</label>
									<input class="form-control" id="MakitaSerialNumber_ProductCode" value="@Model.MakitaSerialNumber.ProductCode" type="text" name="productCode"     />
								</div>
					
								<div class="form-group">
									<label for="MakitaSerialNumber_SerialNumber">@L("SerialNumber")</label>
									<input class="form-control" id="MakitaSerialNumber_SerialNumber" value="@Model.MakitaSerialNumber.SerialNumber" type="text" name="serialNumber"     />
								</div>
					
								<div class="form-group">
									<label for="MakitaSerialNumber_RetailerExternalCode">@L("RetailerExternalCode")</label>
									<input class="form-control" id="MakitaSerialNumber_RetailerExternalCode" value="@Model.MakitaSerialNumber.RetailerExternalCode" type="text" name="retailerExternalCode"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
