
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.MessageVariables
@model CreateOrEditMessageVariableModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditMessageVariable")) : L("CreateNewMessageVariable")))

<div class="modal-body">
        <div id="MessageVariableInformationsTab">
            <form name="MessageVariableInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.MessageVariable.Id" />
                }

				

				
								<div class="form-group">
									<label for="MessageVariable_Description">@L("Description")</label>
									<input class="form-control" id="MessageVariable_Description" value="@Model.MessageVariable.Description" type="text" name="description"  required    />
								</div>
					
								<div class="form-group">
									<label for="MessageVariable_RmsTable">@L("RmsTable")</label>
									<input class="form-control" id="MessageVariable_RmsTable" value="@Model.MessageVariable.RmsTable" type="text" name="rmsTable"  required    />
								</div>
					
								<div class="form-group">
									<label for="MessageVariable_TableField">@L("TableField")</label>
									<input class="form-control" id="MessageVariable_TableField" value="@Model.MessageVariable.TableField" type="text" name="tableField"  required    />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
