
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.RegistrationHistories
@model RegistrationHistoryViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RegistrationHistoryInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("DateCreated") :</h6>
                @Model.RegistrationHistory.DateCreated
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Remarks") :</h6>
                @Model.RegistrationHistory.Remarks
            </div>
            <div class="col-6 mb-3">
                <h6>@L("AbpUserId") :</h6>
                @Model.RegistrationHistory.AbpUserId
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("RegistrationStatus")) @L("StatusCode") :</h6>
                @Model.RegistrationStatusStatusCode
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Registration")) @L("FirstName") :</h6>
                @Model.RegistrationFirstName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

