
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.PromoRetailers
@model CreateOrEditPromoRetailerModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPromoRetailer")) : L("CreateNewPromoRetailer")))

<div class="modal-body">
        <div id="PromoRetailerInformationsTab">
            <form name="PromoRetailerInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.PromoRetailer.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="PromoPromocode">@L("Promo")</label>
									    <div class="input-group">
											<input class="form-control" id="PromoPromocode" name="promoPromocode" value="@Model.PromoPromocode" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenPromoLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearPromoPromocodeButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PromoRetailer_PromoId" value="@Model.PromoRetailer.PromoId" type="text" name="promoId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PromoRetailer_PromoId" value="" type="text" name="promoId" required hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="RetailerCode">@L("Retailer")</label>
									    <div class="input-group">
											<input class="form-control" id="RetailerCode" name="retailerCode" value="@Model.RetailerCode" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenRetailerLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearRetailerCodeButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PromoRetailer_RetailerId" value="@Model.PromoRetailer.RetailerId" type="text" name="retailerId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PromoRetailer_RetailerId" value="" type="text" name="retailerId" required hidden/>
								}



				

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
