
<div class="form-group mt-5 mb-0">
    <h4 class="d-inline-block"><label for="Promo_Retailers" class="mb-0">@L("Retailers")</label></h4>
    <span id="OpenRetailerLookupTableButton" class="wrapper__icon"><i class="fa fa-plus"></i></span>
    <input type="hidden" id="Promo_PromoRetailers" name="PromoRetailers">
</div>

<table id="table__promo-retailer-selection" class="table table-hover dt-responsive mt-0">
    <thead>
        <tr>
            <th>@L("Actions")</th>
            <th>@L("RetailerName")</th>
            <th>@L("RetailerCountry")</th>
            <th>@L("RetailerCode")</th>
        </tr>
    </thead>
</table>