
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.MessageComponents
@model MessageComponentViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="MessageComponentInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("IsActive") :</h6>
                @Model.MessageComponent.IsActive
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("MessageType")) @L("Name") :</h6>
                @Model.MessageTypeName
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("MessageComponentType")) @L("Name") :</h6>
                @Model.MessageComponentTypeName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

