
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.PromoProducts
@model CreateOrEditPromoProductModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPromoProduct")) : L("CreateNewPromoProduct")))

<div class="modal-body">
        <div id="PromoProductInformationsTab">
            <form name="PromoProductInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.PromoProduct.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="PromoPromocode">@L("Promo")</label>
									    <div class="input-group">
											<input class="form-control" id="PromoPromocode" name="promoPromocode" value="@Model.PromoPromocode" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenPromoLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearPromoPromocodeButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PromoProduct_PromoId" value="@Model.PromoProduct.PromoId" type="text" name="promoId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PromoProduct_PromoId" value="" type="text" name="promoId" required hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="ProductCtn">@L("Product")</label>
									    <div class="input-group">
											<input class="form-control" id="ProductCtn" name="productCtn" value="@Model.ProductCtn" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenProductLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearProductCtnButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PromoProduct_ProductId" value="@Model.PromoProduct.ProductId" type="text" name="productId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PromoProduct_ProductId" value="" type="text" name="productId" required hidden/>
								}



				

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
