@model RMS.Web.Areas.App.Models.Products.ProductSelectionViewModel

<div class="form-group mt-5 mb-0">
    <h4 class="d-inline-block"><label for="Promo_Products" class="mb-0">@L("Products")</label></h4>
    <span id="OpenProductLookupTableButton" class="wrapper__icon"><i class="fa fa-plus"></i></span>
    <input type="hidden" id="Promo_PromoProducts" name="PromoProducts">
</div>

<table id="table__product-selection" class="table table-hover dt-responsive mt-0">
    <thead>
        <tr>
            <th>@L("Actions")</th>
            <th>@L("Description")</th>
            <th>@L("CTN")</th>
            <th>@L("EAN")</th>
        </tr>
    </thead>
</table>