
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.ProductCategories
@model CreateOrEditProductCategoryModalViewModel



@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProductCategory")) : L("CreateNewProductCategory")))





<script>
    $(document).ready(function () {

        $(".colorpicker").each(function () {

            $(this).minicolors({
                theme: "bootstrap"
            });

        });

    });
</script>

<div class="modal-body">
    <div id="ProductCategoryInformationsTab">
        <form name="ProductCategoryInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.ProductCategory.Id" />
            }




            <div class="form-group">
                <label for="ProductCategory_Code">@L("Code")</label>
                <input class="form-control" id="ProductCategory_Code" value="@Model.ProductCategory.Code" type="text" name="code" />
            </div>

            <div class="form-group">
                <label for="ProductCategory_Description">@L("Description")</label>
                <input class="form-control" id="ProductCategory_Description" value="@Model.ProductCategory.Description" type="text" name="description" />
            </div>

            <div class="form-group">
                <label for="ProductCategory_POHandling">@L("PoHandling")</label>
                <input class="form-control" id="ProductCategory_POHandling" value="@Model.ProductCategory.POHandling" type="text" name="poHandling" />
            </div>

            <div class="form-group">
                <label for="ProductCategory_POCashback">@L("PoCashBack")</label>
                <input class="form-control" id="ProductCategory_POCashback" value="@Model.ProductCategory.POCashback" type="text" name="poCashback" />
            </div>

            <div class="form-group">
                <label for="ProductCategory_Color">@L("Color")</label>
                <input type="text" name="color" id="ProductCategory_Color" class="form-control colorpicker" data-control="hue" value="@Model.ProductCategory.Color" />
                
            </div>
        </form>
    </div>
</div>




@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
