
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.ProductCategories
@model ProductCategoryViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<script>
    $(document).ready(function () {

        $(".colorpicker").each(function () {

            $(this).minicolors({
                theme: "bootstrap"
            });

        });

    });
</script>

<div class="modal-body">
    <div id="ProductCategoryInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Code") :</h6>
                @Model.ProductCategory.Code
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.ProductCategory.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PoHandling") :</h6>
                @Model.ProductCategory.POHandling
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PoCashBack") :</h6>
                @Model.ProductCategory.POCashback
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Color") :</h6>
                <input type="text" disabled style="background-color:transparent; border-style:none;" name="color" id="ProductCategory_Color" class="form-control colorpicker" data-control="hue" value="@Model.ProductCategory.Color" />
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

