
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.Products
@model ProductViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ProductInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("ProductCode") :</h6>
                @Model.Product.ProductCode
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.Product.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Ean") :</h6>
                @Model.Product.Ean
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("ProductCategory")) @L("Description") :</h6>
                @Model.ProductCategoryDescription
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

