
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.FormFields
@model FormFieldViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="FormFieldInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.FormField.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Label") :</h6>
                @Model.FormField.Label
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DefaultValue") :</h6>
                @Model.FormField.DefaultValue
            </div>
            <div class="col-6 mb-3">
                <h6>@L("MaxLength") :</h6>
                @Model.FormField.MaxLength
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Required") :</h6>
                @Model.FormField.Required
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ReadOnly") :</h6>
                @Model.FormField.ReadOnly
            </div>
            <div class="col-6 mb-3">
                <h6>@L("InputMask") :</h6>
                @Model.FormField.InputMask
            </div>
            <div class="col-6 mb-3">
                <h6>@L("RegularExpression") :</h6>
                @Model.FormField.RegularExpression
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ValidationApiCall") :</h6>
                @Model.FormField.ValidationApiCall
            </div>
            <div class="col-6 mb-3">
                <h6>@L("RegistrationField") :</h6>
                @Model.FormField.RegistrationField
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PurchaseRegistrationField") :</h6>
                @Model.FormField.PurchaseRegistrationField
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsPurchaseRegistration") :</h6>
                @Model.FormField.IsPurchaseRegistration
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("FieldType")) @L("Description") :</h6>
                @Model.FieldTypeDescription
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

