@using RMS.Authorization
@using RMS.Web.Areas.App.Models.FormFields
@using RMS.Web.Areas.App.Startup
@model FormFieldsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.FormFields;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/FormFields/Index.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


                <div class="kt-subheader kt-grid__item">
                  <div class="@(await GetContainerClass())">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>@L("FormFields")</span>
                        </h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">
                            @L("FormFieldsHeaderInfo")
                        </span>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_FormFields_Create))
                            {
                                <button id="CreateNewFormFieldButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewFormField")</button>                
                            }
                        </div>
                    </div>
                  </div>
                </div>
            
<div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">   
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="FormFieldsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetFormFieldsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="DescriptionFilterId">@L("Description")</label>
									<input type="text" class="form-control" name="descriptionFilter" id="DescriptionFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="LabelFilterId">@L("Label")</label>
									<input type="text" class="form-control" name="labelFilter" id="LabelFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="DefaultValueFilterId">@L("DefaultValue")</label>
									<input type="text" class="form-control" name="defaultValueFilter" id="DefaultValueFilterId">
								</div>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinMaxLengthFilterId">@L("MinMax") @L("MaxLength")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minMaxLengthFilter" id="MinMaxLengthFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxMaxLengthFilter"  id="MaxMaxLengthFilterId"/>
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<label for="RequiredFilterId">@L("Required")</label>
								<select class="form-control" name="RequiredFilter" id="RequiredFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<label for="ReadOnlyFilterId">@L("ReadOnly")</label>
								<select class="form-control" name="ReadOnlyFilter" id="ReadOnlyFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="InputMaskFilterId">@L("InputMask")</label>
									<input type="text" class="form-control" name="inputMaskFilter" id="InputMaskFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RegularExpressionFilterId">@L("RegularExpression")</label>
									<input type="text" class="form-control" name="regularExpressionFilter" id="RegularExpressionFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ValidationApiCallFilterId">@L("ValidationApiCall")</label>
									<input type="text" class="form-control" name="validationApiCallFilter" id="ValidationApiCallFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RegistrationFieldFilterId">@L("RegistrationField")</label>
									<input type="text" class="form-control" name="registrationFieldFilter" id="RegistrationFieldFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="PurchaseRegistrationFieldFilterId">@L("PurchaseRegistrationField")</label>
									<input type="text" class="form-control" name="purchaseRegistrationFieldFilter" id="PurchaseRegistrationFieldFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<label for="IsPurchaseRegistrationFilterId">@L("IsPurchaseRegistration")</label>
								<select class="form-control" name="IsPurchaseRegistrationFilter" id="IsPurchaseRegistrationFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="FieldTypeDescriptionFilterId">(@L("FieldType")) @L("Description")</label>
									<input type="text" class="form-control" name="fieldTypeDescriptionFilter" id="FieldTypeDescriptionFilterId">
								</div>
                            </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="FormFieldsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            
                            <th>@L("Actions")</th>
								<th>@L("Description")</th>
								<th>@L("Label")</th>
								<th>@L("DefaultValue")</th>
								<th>@L("MaxLength")</th>
								<th>@L("Required")</th>
								<th>@L("ReadOnly")</th>
								<th>@L("InputMask")</th>
								<th>@L("RegularExpression")</th>
								<th>@L("ValidationApiCall")</th>
								<th>@L("RegistrationField")</th>
								<th>@L("PurchaseRegistrationField")</th>
								<th>@L("IsPurchaseRegistration")</th>
								<th>@L("FieldTypeDescription")</th>
                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>