@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.MessageComponentContents
@model CreateOrEditMessageComponentContentModalEntityViewModel

<head>
    <script src="~/view-resources/Areas/App/Views/MessageComponentContents/_ChooseMessageType.js"></script>
</head>

<div id="chooseMessageType__tiles">
    <div class="step__choose-mt">
        <h4 class="heading__main">@L("ChooseYourMessageType")</h4>
        <p class="paragraph__main">@L("ChooseYourMessageTypeDescriptor")</p>

        <div class="wrapper__message-type">
            @foreach (var messageType in Model.MessageTypes.Items)
            {
                <div class="tile__message-type" data-id="@messageType.MessageType.Id"
                     data-message-type-name="@messageType.MessageType.Name"
                     data-message-id="@messageType.MessageType.MessageId">
                    <h5>@messageType.MessageType.Name</h5>
                    <p>Version @messageType.MessageVersion</p>
                    <p>Source: @messageType.MessageType.Source</p>
                </div>
            }
        </div>
    </div>
</div>
