@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.MessageComponentContents
@model CreateOrEditMessageComponentContentModalEntityViewModel
@{
    var messageType = @ViewBag.MessageType;
} 
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel((L("EditMessageComponentContent"))))

<div class="modal-body">
    <div id="MessageComponentContentInformationsTab">
        <input id="message-component-content" type="hidden"
               data-message-component-content-id="@Model.MessageComponentContent.Id" data-message-component-id="@Model.MessageComponentContent.MessageComponentId"
               data-campaign-type-event-registration-status-id="@Model.MessageComponentContent.CampaignTypeEventRegistrationStatusId" data-message-type="@messageType"/>
        <div id="editor__container"></div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")