
@using System.Globalization
@using RMS.Authorization
@using RMS.Web.Areas.App.Models.PurchaseRegistrations
@using RMS.Web.Areas.App.Startup
@model CreateOrEditPurchaseRegistrationViewModel

@{
    ViewBag.CurrentPageName = AppPageNames.Common.PurchaseRegistrations;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/PurchaseRegistrations/CreateOrEdit.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"> 


                <div class="kt-subheader kt-grid__item">
                  <div class="@(await GetContainerClass())">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>@(Model.IsEditMode ? (L("EditPurchaseRegistration")) : L("CreateNewPurchaseRegistration"))</span>
                        </h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <div class="kt-subheader__breadcrumbs">
                            <a href="/App/PurchaseRegistrations" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i>&thinsp;@L("PurchaseRegistrations")</a>
                            <span class="kt-subheader__breadcrumbs-separator"></span>
                            <a href="javascript:;" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                               @(Model.IsEditMode ? (L("Edit")) : L("Create"))
                            </a>
                        </div>
                    </div>
                  </div>
                </div>
            

<div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <form name="PurchaseRegistrationInformationsForm" role="form" novalidate class="form-validation">
            <div class="kt-portlet__body">
                <div class="kt-form">
                     <div id="PurchaseRegistrationInformationsTab">   
                            @if (Model.IsEditMode)
                            {
                                <input type="hidden" name="id" value="@Model.PurchaseRegistration.Id" />
                            }

				                        
								<div class="form-group m-form__group">
										<label for="RegistrationFirstName">@L("Registration")</label>
									    <div class="input-group">
											<input class="form-control" id="RegistrationFirstName" name="registrationFirstName" value="@Model.RegistrationFirstName" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenRegistrationLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearRegistrationFirstNameButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PurchaseRegistration_RegistrationId" value="@Model.PurchaseRegistration.RegistrationId" type="text" name="registrationId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PurchaseRegistration_RegistrationId" value="" type="text" name="registrationId" required hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="ProductCtn">@L("Product")</label>
									    <div class="input-group">
											<input class="form-control" id="ProductCtn" name="productCtn" value="@Model.ProductCtn" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenProductLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearProductCtnButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PurchaseRegistration_ProductId" value="@Model.PurchaseRegistration.ProductId" type="text" name="productId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PurchaseRegistration_ProductId" value="" type="text" name="productId" required hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="HandlingLineCustomerCode">@L("HandlingLine")</label>
									    <div class="input-group">
											<input class="form-control" id="HandlingLineCustomerCode" name="handlingLineCustomerCode" value="@Model.HandlingLineCustomerCode" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenHandlingLineLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearHandlingLineCustomerCodeButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PurchaseRegistration_HandlingLineId" value="@Model.PurchaseRegistration.HandlingLineId" type="text" name="handlingLineId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PurchaseRegistration_HandlingLineId" value="" type="text" name="handlingLineId" required hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="RetailerLocationName">@L("RetailerLocation")</label>
									    <div class="input-group">
											<input class="form-control" id="RetailerLocationName" name="retailerLocationName" value="@Model.RetailerLocationName" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenRetailerLocationLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearRetailerLocationNameButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PurchaseRegistration_RetailerLocationId" value="@Model.PurchaseRegistration.RetailerLocationId" type="text" name="retailerLocationId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PurchaseRegistration_RetailerLocationId" value="" type="text" name="retailerLocationId" required hidden/>
								}



				            
								<div class="form-group">
									<label for="PurchaseRegistration_Quantity">@L("Quantity")</label>
									<input class="form-control m-input" id="PurchaseRegistration_Quantity" value="@Model.PurchaseRegistration.Quantity.ToString(CultureInfo.InvariantCulture)" type="number" name="quantity"   />
								</div>
					
								<div class="form-group">
									<label for="PurchaseRegistration_TotalAmount">@L("TotalAmount")</label>
									<input class="form-control m-input" id="PurchaseRegistration_TotalAmount" value="@Model.PurchaseRegistration.TotalAmount.ToString(CultureInfo.InvariantCulture)" type="number" name="totalAmount"   />
								</div>
					
								<div class="form-group position-relative">
									<label for="PurchaseRegistration_PurchaseDate">@L("PurchaseDate")</label>
									<input class="form-control m-input date-picker" id="PurchaseRegistration_PurchaseDate" type="text" name="purchaseDate" value="@Model.PurchaseRegistration.PurchaseDate" />
								</div>
					
								<div class="form-group">
									<label for="PurchaseRegistration_InvoiceImage">@L("InvoiceImage")</label>
									<input class="form-control" id="PurchaseRegistration_InvoiceImage" value="@Model.PurchaseRegistration.InvoiceImage" type="text" name="invoiceImage"     />
								</div>
					                   
                    </div>
			    </div>            
            </div>
            <div class="kt-portlet__foot">
			    <div class="row align-items-center">
				    <div class="col-lg-12">
					    <button type="button" id="saveBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("Save")</button>
					    @if (!Model.IsEditMode)
                        {
					        <button type="button" id="saveAndNewBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("SaveAndNew")</button>
					    }
				    </div>
			    </div>
		    </div>
         </form>
    </div>
  </div>
</div>