@using RMS.Web.Areas.App.Startup
@using RMS.Web.Areas.App.Models.PurchaseRegistrations
@model PurchaseRegistrationViewModel

@{
    ViewBag.CurrentPageName = AppPageNames.Common.PurchaseRegistrations;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/PurchaseRegistrations/CreateOrEdit.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


                 <div class="kt-subheader kt-grid__item">
                  <div class="@(await GetContainerClass())">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>@L("Details")</span>
                        </h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <div class="kt-subheader__breadcrumbs">
                            <a href="/App/PurchaseRegistrations" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i>&thinsp;@L("PurchaseRegistrations")</a>
                            <span class="kt-subheader__breadcrumbs-separator"></span>
                            <a href="javascript:;" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                               @L("Details")
                            </a>
                        </div>
                    </div>
                  </div>
                </div>
            

<div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile ">
        <div class="kt-portlet__body ">
             <div id="PurchaseRegistrationInformationsTab">        
                    <div class="row">
                                    <div class="col-6 mb-3">
                <h6>@L("Quantity") :</h6>
                @Model.PurchaseRegistration.Quantity
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TotalAmount") :</h6>
                @Model.PurchaseRegistration.TotalAmount
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PurchaseDate") :</h6>
                @Model.PurchaseRegistration.PurchaseDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("InvoiceImage") :</h6>
                @Model.PurchaseRegistration.InvoiceImage
            </div>

                                    <div class="col-6 mb-3">
                <h6>(@L("Registration")) @L("FirstName") :</h6>
                @Model.RegistrationFirstName
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Product")) @L("Ctn") :</h6>
                @Model.ProductCtn
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("HandlingLine")) @L("CustomerCode") :</h6>
                @Model.HandlingLineCustomerCode
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("RetailerLocation")) @L("Name") :</h6>
                @Model.RetailerLocationName
            </div>

                    </div>
                </div>
			</div>
        </div>
    </div>
  </div>
