
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.FormFieldValueLists
@model CreateOrEditFormFieldValueListModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditFormFieldValueList")) : L("CreateNewFormFieldValueList")))

<div class="modal-body">
        <div id="FormFieldValueListInformationsTab">
            <form name="FormFieldValueListInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.FormFieldValueList.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="FormFieldDescription">@L("FormField")</label>
									    <div class="input-group">
											<input class="form-control" id="FormFieldDescription" name="formFieldDescription" value="@Model.FormFieldDescription" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenFormFieldLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearFormFieldDescriptionButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="FormFieldValueList_FormFieldId" value="@Model.FormFieldValueList.FormFieldId" type="text" name="formFieldId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="FormFieldValueList_FormFieldId" value="" type="text" name="formFieldId" required hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="ValueListDescription">@L("ValueList")</label>
									    <div class="input-group">
											<input class="form-control" id="ValueListDescription" name="valueListDescription" value="@Model.ValueListDescription" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenValueListLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearValueListDescriptionButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="FormFieldValueList_ValueListId" value="@Model.FormFieldValueList.ValueListId" type="text" name="valueListId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="FormFieldValueList_ValueListId" value="" type="text" name="valueListId" required hidden/>
								}



				
								<div class="form-group">
									<label for="FormFieldValueList_PossibleListValues">@L("PossibleListValues")</label>
									<input class="form-control" id="FormFieldValueList_PossibleListValues" value="@Model.FormFieldValueList.PossibleListValues" type="text" name="possibleListValues"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
