
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.ListValueTranslations
@model ListValueTranslationViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ListValueTranslationInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("KeyValue") :</h6>
                @Model.ListValueTranslation.KeyValue
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.ListValueTranslation.Description
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("ListValue")) @L("KeyValue") :</h6>
                @Model.ListValueKeyValue
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Locale")) @L("LanguageCode") :</h6>
                @Model.LocaleLanguageCode
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

