@using RMS.SBJ.Registrations.Dtos
@using RMS.SBJ.Registrations.Helpers
@model RMS.Web.Areas.App.Models.Registrations.RegistrationHistoryEntriesViewModel

<section id="section__registration-history-list" class="form-group mt-5 card wrapper__form-block">
    <h4 class="card-header">@L("RegistrationHistory")</h4>

    <div class="card-body">
        <div class="timeline timeline-justified timeline-4">
            <div class="timeline-bar"></div>
        
            <div class="timeline-items">
                @foreach(var registrationHistory in Model.RegistrationHistoryEntries)
                {
                    <div class="timeline-item">
                        <div class="timeline-badge">
                            @switch (registrationHistory.RegistrationStatusCode)
                            {
                                case RegistrationStatusCodeHelper.Accepted:
                                    <div class="fas fa-check-circle color-approved"></div>
                                    break;
                                case RegistrationStatusCodeHelper.Incomplete:
                                    <div class="far fa-dot-circle color-incomplete"></div>
                                    break;
                                case RegistrationStatusCodeHelper.Rejected:
                                    <div class="fas fa-times-circle color-rejected"></div>
                                    break;
                                case RegistrationStatusCodeHelper.InProgress:
                                    <div class="fas fa-spinner color-progress"></div>
                                    break;
                                case RegistrationStatusCodeHelper.Send:
                                    <div class="fas fa-warehouse color-sent"></div>
                                    break;
                                case RegistrationStatusCodeHelper.RequestedInvoiceCheck:
                                    <div class="fas fa-file-invoice-dollar color-awaiting-invoice-check"></div>
                                    break;
                                default:
                                    <div class="far fa-circle color-pending"></div>
                                    break;
                            }
                        </div><!-- .timeline-badge -->

                        <div class="timeline-label">
                            <span class="font-weight-bold">@registrationHistory.DateCreated.ToString("dd-MM-yyyy HH:mm")</span>
                        </div><!-- .timeline-label -->

                        <div class="timeline-content">
                            @if (registrationHistory.TypeOfChange == TypeOfChange.Status)
                            {
                                @L("RegistrationStatusSetTo") <strong>@registrationHistory.RegistrationStatusDescription</strong> <br />
                            }
                            else
                            {
                                @L("DataSetHasChanged")<br />
                            }
                            @L("By") <strong>@string.Format("{0} {1}", registrationHistory.FirstName, registrationHistory.LastName)</strong>
                        </div>
                    </div><!-- .timeline-item -->
                }
            </div><!-- .timeline-items -->
        </div><!-- .timeline -->
    </div><!-- .card -->
</section>