@using RMS.SBJ.Messaging.Helpers;
@model RMS.Web.Areas.App.Models.Registrations.RegistrationMessageHistoryEntriesViewModel

<section id="section__registration-history-list" class="form-group mt-5 card wrapper__form-block">
    <h4 class="card-header">@L("MessageHistory")</h4>

    <div class="card-body">
        <div class="timeline timeline-justified timeline-4">
            <div class="timeline-bar"></div>

            <div class="timeline-items">
                @foreach (var messageHistory in Model.RegistrationMessageHistoryEntries)
                {
                    <div class="timeline-item">
                        <div class="timeline-badge">
                            <div class="fas fa-envelope"></div>
                        </div><!-- .timeline-badge -->

                        <div class="timeline-label">
                            <span class="font-weight-bold">
                                @messageHistory.TimeStamp.ToString("dd-MM-yyyy HH:mm")&nbsp;&#8667;&nbsp;
                                @if (messageHistory.StatusId == MessageStatusHelper.Sent)
                                {
                                    @L("MessageStatusSent")
                                }
                                else if (messageHistory.StatusId == MessageStatusHelper.Awaiting)
                                {
                                    @L("MessageStatusAwaiting")
                                }
                                else if (messageHistory.StatusId == MessageStatusHelper.Failed)
                                {
                                    @L("MessageStatusFailed")
                                }
                                else if (messageHistory.StatusId == MessageStatusHelper.Unknown)
                                {
                                    @L("MessageStatusUnknown")
                                }
                            </span>
                        </div><!-- .timeline-label -->

                        <div class="timeline-content">
                            <i class="fas fa-address-card"></i>&nbsp;&nbsp;<strong>@messageHistory.To</strong><br />
                            <i class="fas fa-file-signature"></i>&nbsp;&nbsp;<strong>@messageHistory.MessageName</strong><br />
                            <i class="fas fa-info-circle"></i>&nbsp;&nbsp;<strong>@messageHistory.Subject</strong>
                            <button class="showHideMessagePreview" style="border: 0; background-color: transparent; color: #5867dd"></button>
                            <table class="messagePreviewTable" style="margin-top: 10px">
                                <tbody>
                                    <tr>
                                        <td class="messagePreviewCell">
                                            <input type="hidden" value="@messageHistory.Content" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- .timeline-item -->
                }
            </div><!-- .timeline-items -->
        </div><!-- .timeline -->
    </div><!-- .card -->
</section>