@model RMS.Web.Areas.App.Models.Registrations.RelatedRegistrationsViewModel
@using RMS.SBJ.Registrations.Helpers
<section id="section__related-registrations" class="form-group mt-5 card wrapper__form-block">

    <div class="card-header">
        <h4 id="@("ShowRelatedRegistrationsBy" + Model.TypeOfRelation + "Span")" class="collapseRelatedRegistrations clickable-item">@L("RelatedRegistrationsBy" + Model.TypeOfRelation) <i class="fa fa-angle-down"></i></h4>
        <h4 id="@("HideRelatedRegistrationsBy" + Model.TypeOfRelation + "Span")" class="collapseRelatedRegistrations clickable-item" style="display: none">@L("RelatedRegistrationsBy" + Model.TypeOfRelation) <i class="fa fa-angle-up"></i></h4>
    </div>

    <div class="card-body" id="@("RelatedRegistrationsBy" + Model.TypeOfRelation + "Table")" style="display: none">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>@L("RegistrationId")</th>
                    <th>@L("ProductCode")</th>
                    @if (Model.TypeOfRelation == "SerialNumber")
                    {
                        <th>@L("SerialNumber")</th>
                    }
                    <th>@L("ProductDescription")</th>
                    <th>@L("Status")</th>
                    <th>@L("DateCreated")</th>
                </tr>
            </thead>
            <tbody class="@(await GetContainerClass())">

                @if (!Model.RelatedRegistrations.Any())
                {
                    <tr>
                        <td>@L("NoRelatedRegistrations")</td>
                        <td></td>
                        @if (Model.TypeOfRelation == "SerialNumber")
                        {
                            <td></td>
                        }
                        <td></td>
                        <td></td>
                    </tr>
                }
                else
                {
                    @if (Model.TypeOfRelation == "SerialNumber")
                    {
                        
                        @foreach (var relatedRegistration in Model.RelatedRegistrations)
                        {
                            var fontColor = "";
                            @switch (relatedRegistration.StatusCode)
                            {
                                case RegistrationStatusCodeHelper.Accepted:
                                    fontColor = "color-approved";
                                    break;
                                case RegistrationStatusCodeHelper.Incomplete:
                                    fontColor = "color-incomplete";
                                    break;
                                case RegistrationStatusCodeHelper.Rejected:
                                    fontColor = "color-rejected";
                                    break;
                                case RegistrationStatusCodeHelper.InProgress:
                                    fontColor = "color-progress";
                                    break;
                                case RegistrationStatusCodeHelper.Send:
                                    fontColor = "color-sent";
                                    break;
                                case RegistrationStatusCodeHelper.RequestedInvoiceCheck:
                                    fontColor = "color-awaiting-invoice-check";
                                    break;
                                default:
                                    fontColor = "color-pending";
                                    break;
                            }

                            <tr>
                                <td><a href="/App/Registrations/ViewRegistration/@relatedRegistration.RegistrationId" target="_blank" style="pointer-events: all !important">@relatedRegistration.RegistrationId</a></td>
                                <td>@relatedRegistration.ProductCode</td>
                                <td>@relatedRegistration.SerialNumber</td>
                                <td> @relatedRegistration.ProductDescription</td>
                                <td class=@fontColor>@relatedRegistration.StatusDescription</td>
                                <td>@relatedRegistration.DateCreated.Value.ToString("dd-MM-yyyy HH:mm")</td>
                            </tr>
                        }
                    }
                    else
                    {
                        
                        @foreach (var relatedRegistration in Model.RelatedRegistrations)
                        {
                            var fontColor = "";
                            @switch (relatedRegistration.StatusCode)
                            {
                                case RegistrationStatusCodeHelper.Accepted:
                                    fontColor = "color-approved";
                                    break;
                                case RegistrationStatusCodeHelper.Incomplete:
                                    fontColor = "color-incomplete";
                                    break;
                                case RegistrationStatusCodeHelper.Rejected:
                                    fontColor = "color-rejected";
                                    break;
                                case RegistrationStatusCodeHelper.InProgress:
                                    fontColor = "color-progress";
                                    break;
                                case RegistrationStatusCodeHelper.Send:
                                    fontColor = "color-sent";
                                    break;
                                case RegistrationStatusCodeHelper.RequestedInvoiceCheck:
                                    fontColor = "color-awaiting-invoice-check";
                                    break;
                                default:
                                    fontColor = "color-pending";
                                    break;
                            }
                            <tr>
                                <td><a href="/App/Registrations/ViewRegistration/@relatedRegistration.RegistrationId" target="_blank" style="pointer-events: all !important">@relatedRegistration.RegistrationId</a></td>
                                <td>@relatedRegistration.ProductCode</td>
                                <td> @relatedRegistration.ProductDescription</td>
                                <td class=@fontColor> @relatedRegistration.StatusDescription</td>
                                <td>@relatedRegistration.DateCreated.Value.ToString("dd-MM-yyyy HH:mm")</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</section>