
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.Retailers
@model CreateOrEditRetailerModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRetailer")) : L("CreateNewRetailer")))

<div class="modal-body">
        <div id="RetailerInformationsTab">
            <form name="RetailerInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Retailer.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="CountryCountryCode">@L("Country")</label>
									    <div class="input-group">
											<input class="form-control" id="CountryCountryCode" name="countryCountryCode" value="@Model.CountryCountryCode" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenCountryLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearCountryCountryCodeButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="Retailer_CountryId" value="@Model.Retailer.CountryId" type="text" name="countryId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="Retailer_CountryId" value="" type="text" name="countryId"  hidden/>
								}



				
								<div class="form-group">
									<label for="Retailer_Name">@L("Name")</label>
									<input class="form-control" id="Retailer_Name" value="@Model.Retailer.Name" type="text" name="name"     />
								</div>
					
								<div class="form-group">
									<label for="Retailer_Code">@L("Code")</label>
									<input class="form-control" id="Retailer_Code" value="@Model.Retailer.Code" type="text" name="code"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
