
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.ProcessEvents
@model CreateOrEditProcessEventModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProcessEvent")) : L("CreateNewProcessEvent")))

<div class="modal-body">
        <div id="ProcessEventInformationsTab">
            <form name="ProcessEventInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.ProcessEvent.Id" />
                }

				

				
								<div class="form-group">
									<label for="ProcessEvent_Name">@L("Name")</label>
									<input class="form-control" id="ProcessEvent_Name" value="@Model.ProcessEvent.Name" type="text" name="name"  required    />
								</div>
					
								<div class="m-checkbox-list">
									<label for="ProcessEvent_IsActive" class="kt-checkbox">
										<input id="ProcessEvent_IsActive" type="checkbox" name="isActive" value="true" @Html.Raw(Model.ProcessEvent.IsActive ?"checked=\"checked\"":"") />
										@L("IsActive")
										<span></span>
									</label>
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
