
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.Addresses
@model AddressViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="AddressInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("AddressLine1") :</h6>
                @Model.Address.AddressLine1
            </div>
            <div class="col-6 mb-3">
                <h6>@L("AddressLine2") :</h6>
                @Model.Address.AddressLine2
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PostalCode") :</h6>
                @Model.Address.PostalCode
            </div>
            <div class="col-6 mb-3">
                <h6>@L("City") :</h6>
                @Model.Address.City
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Country")) @L("CountryCode") :</h6>
                @Model.CountryCountryCode
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

