@using RMS.Authorization
@using RMS.Web.Areas.App.Models.Addresses
@using RMS.Web.Areas.App.Startup
@model AddressesViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Addresses;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Addresses/Index.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
 <div class="kt-subheader kt-grid__item">
  <div class="@(await GetContainerClass())">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <span>@L("Addresses")</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">
            @L("AddressesHeaderInfo")
        </span>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_Addresses_Create))
            {
                <button id="CreateNewAddressButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewAddress")</button>                
            }
        </div>
    </div>
  </div>
</div>
<div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="AddressesTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetAddressesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="AddressLine1FilterId">@L("AddressLine1")</label>
									<input type="text" class="form-control" name="addressLine1Filter" id="AddressLine1FilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AddressLine2FilterId">@L("AddressLine2")</label>
									<input type="text" class="form-control" name="addressLine2Filter" id="AddressLine2FilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="PostalCodeFilterId">@L("PostalCode")</label>
									<input type="text" class="form-control" name="postalCodeFilter" id="PostalCodeFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="CityFilterId">@L("City")</label>
									<input type="text" class="form-control" name="cityFilter" id="CityFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="CountryCountryCodeFilterId">(@L("Country")) @L("CountryCode")</label>
									<input type="text" class="form-control" name="countryCountryCodeFilter" id="CountryCountryCodeFilterId">
								</div>
                            </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="AddressesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("AddressLine1")</th>
								<th>@L("AddressLine2")</th>
								<th>@L("PostalCode")</th>
								<th>@L("City")</th>
								<th>@L("CountryCountryCode")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>