
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.PromoStepDatas
@model PromoStepDataViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PromoStepDataInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("ConfirmationDate") :</h6>
                @Model.PromoStepData.ConfirmationDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.PromoStepData.Description
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("PromoStep")) @L("Description") :</h6>
                @Model.PromoStepDescription
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Promo")) @L("Promocode") :</h6>
                @Model.PromoPromocode
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

