
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.MessageContentTranslations
@model MessageContentTranslationViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="MessageContentTranslationInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Content") :</h6>
                @Model.MessageContentTranslation.Content
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Locale")) @L("Description") :</h6>
                @Model.LocaleDescription
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("MessageComponentContent")) @L("Content") :</h6>
                @Model.MessageComponentContentContent
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

