
@using System.Globalization
@using RMS.Authorization
@using RMS.Web.Areas.App.Models.HandlingLines
@using RMS.Web.Areas.App.Startup
@model CreateOrEditHandlingLineViewModel

@{
    ViewBag.CurrentPageName = AppPageNames.Common.HandlingLines;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/HandlingLines/CreateOrEdit.js" asp-append-version="true"></script>
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"> 


                <div class="kt-subheader kt-grid__item">
                  <div class="@(await GetContainerClass())">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>@(Model.IsEditMode ? (L("EditHandlingLine")) : L("CreateNewHandlingLine"))</span>
                        </h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <div class="kt-subheader__breadcrumbs">
                            <a href="/App/HandlingLines" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i>&thinsp;@L("HandlingLines")</a>
                            <span class="kt-subheader__breadcrumbs-separator"></span>
                            <a href="javascript:;" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                               @(Model.IsEditMode ? (L("Edit")) : L("Create"))
                            </a>
                        </div>
                    </div>
                  </div>
                </div>
            

<div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <form name="HandlingLineInformationsForm" role="form" novalidate class="form-validation">
            <div class="kt-portlet__body">
                <div class="kt-form">
                     <div id="HandlingLineInformationsTab">   
                            @if (Model.IsEditMode)
                            {
                                <input type="hidden" name="id" value="@Model.HandlingLine.Id" />
                            }

				                        
						<div class="form-group">
							<label for="campaignTypeId">@L("CampaignType")</label>
							@Html.DropDownList("campaignTypeId", new SelectList(Model.HandlingLineCampaignTypeList,"Id","DisplayName", (Model.IsEditMode ? Model.HandlingLine.CampaignTypeId.ToString() : "")),@L("SelectACampaignType"), new { @class = "form-control"  , @required="required" })
						</div>
            
								<div class="form-group m-form__group">
										<label for="ProductHandlingDescription">@L("ProductHandling")</label>
									    <div class="input-group">
											<input class="form-control" id="ProductHandlingDescription" name="productHandlingDescription" value="@Model.ProductHandlingDescription" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenProductHandlingLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearProductHandlingDescriptionButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="HandlingLine_ProductHandlingId" value="@Model.HandlingLine.ProductHandlingId" type="text" name="productHandlingId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="HandlingLine_ProductHandlingId" value="" type="text" name="productHandlingId" required hidden/>
								}



				            
								<div class="form-group">
									<label for="HandlingLine_MinimumPurchaseAmount">@L("MinimumPurchaseAmount")</label>
									<input class="form-control m-input" id="HandlingLine_MinimumPurchaseAmount" value="@Model.HandlingLine.MinimumPurchaseAmount?.ToString(CultureInfo.InvariantCulture)" type="number" name="minimumPurchaseAmount"   />
								</div>
					
								<div class="form-group">
									<label for="HandlingLine_MaximumPurchaseAmount">@L("MaximumPurchaseAmount")</label>
									<input class="form-control m-input" id="HandlingLine_MaximumPurchaseAmount" value="@Model.HandlingLine.MaximumPurchaseAmount?.ToString(CultureInfo.InvariantCulture)" type="number" name="maximumPurchaseAmount"   />
								</div>
					
								<div class="form-group">
									<label for="HandlingLine_CustomerCode">@L("CustomerCode")</label>
									<input class="form-control" id="HandlingLine_CustomerCode" value="@Model.HandlingLine.CustomerCode" type="text" name="customerCode"     />
								</div>
					
								<div class="form-group">
									<label for="HandlingLine_Amount">@L("Amount")</label>
									<input class="form-control m-input" id="HandlingLine_Amount" value="@Model.HandlingLine.Amount?.ToString(CultureInfo.InvariantCulture)" type="number" name="amount"   />
								</div>
					
								<div class="kt-checkbox-list">
									<label for="HandlingLine_Fixed" class="kt-checkbox">
										<input id="HandlingLine_Fixed" type="checkbox" name="fixed" value="true" @Html.Raw(Model.HandlingLine.Fixed ?"checked=\"checked\"":"") />
										@L("Fixed")
										<span></span>
									</label>
								</div>
					
								<div class="kt-checkbox-list">
									<label for="HandlingLine_ActivationCode" class="kt-checkbox">
										<input id="HandlingLine_ActivationCode" type="checkbox" name="activationCode" value="true" @Html.Raw(Model.HandlingLine.ActivationCode ?"checked=\"checked\"":"") />
										@L("ActivationCode")
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="HandlingLine_Quantity">@L("Quantity")</label>
									<input class="form-control m-input" id="HandlingLine_Quantity" value="@Model.HandlingLine.Quantity?.ToString(CultureInfo.InvariantCulture)" type="number" name="quantity"   />
								</div>
					                   
                    </div>
			    </div>            
            </div>
            <div class="kt-portlet__foot">
			    <div class="row align-items-center">
				    <div class="col-lg-12">
					    <button type="button" id="saveBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("Save")</button>
					    @if (!Model.IsEditMode)
                        {
					        <button type="button" id="saveAndNewBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("SaveAndNew")</button>
					    }
				    </div>
			    </div>
		    </div>
         </form>
    </div>
  </div>
</div>