
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.PromoStepFields
@model CreateOrEditPromoStepFieldModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPromoStepField")) : L("CreateNewPromoStepField")))

<div class="modal-body">
        <div id="PromoStepFieldInformationsTab">
            <form name="PromoStepFieldInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.PromoStepField.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="PromoStepDescription">@L("PromoStep")</label>
									    <div class="input-group">
											<input class="form-control" id="PromoStepDescription" name="promoStepDescription" value="@Model.PromoStepDescription" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenPromoStepLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearPromoStepDescriptionButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PromoStepField_PromoStepId" value="@Model.PromoStepField.PromoStepId" type="text" name="promoStepId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PromoStepField_PromoStepId" value="" type="text" name="promoStepId"  hidden/>
								}



				
								<div class="form-group">
									<label for="PromoStepField_FormFieldId">@L("FormFieldId")</label>
									<input class="form-control m-input" id="PromoStepField_FormFieldId" value="@Model.PromoStepField.FormFieldId.ToString(CultureInfo.InvariantCulture)" type="number" name="formFieldId"  />
								</div>
					
								<div class="form-group">
									<label for="PromoStepField_Description">@L("Description")</label>
									<input class="form-control" id="PromoStepField_Description" value="@Model.PromoStepField.Description" type="text" name="description"     />
								</div>
					
								<div class="form-group">
									<label for="PromoStepField_Sequence">@L("Sequence")</label>
									<input class="form-control m-input" id="PromoStepField_Sequence" value="@Model.PromoStepField.Sequence.ToString(CultureInfo.InvariantCulture)" type="number" name="sequence"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
