
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.ListValues
@model CreateOrEditListValueModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditListValue")) : L("CreateNewListValue")))

<div class="modal-body">
        <div id="ListValueInformationsTab">
            <form name="ListValueInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.ListValue.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="ValueListDescription">@L("ValueList")</label>
									    <div class="input-group">
											<input class="form-control" id="ValueListDescription" name="valueListDescription" value="@Model.ValueListDescription" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenValueListLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearValueListDescriptionButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="ListValue_ValueListId" value="@Model.ListValue.ValueListId" type="text" name="valueListId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="ListValue_ValueListId" value="" type="text" name="valueListId" required hidden/>
								}



				
								<div class="form-group">
									<label for="ListValue_KeyValue">@L("KeyValue")</label>
									<input class="form-control" id="ListValue_KeyValue" value="@Model.ListValue.KeyValue" type="text" name="keyValue"     />
								</div>
					
								<div class="form-group">
									<label for="ListValue_Description">@L("Description")</label>
									<input class="form-control" id="ListValue_Description" value="@Model.ListValue.Description" type="text" name="description"     />
								</div>
					
								<div class="form-group">
									<label for="ListValue_SortOrder">@L("SortOrder")</label>
									<input class="form-control m-input" id="ListValue_SortOrder" value="@Model.ListValue.SortOrder.ToString(CultureInfo.InvariantCulture)" type="number" name="sortOrder"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
