@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.Promos
@using RMS.Web.Areas.App.Startup

@model CreateOrEditPromoViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Promos;
    bool promoIsEditMode = Model.Promo.Id.HasValue;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Promos/CreateOrEdit.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/PromoProducts/_PromoProductSelection.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/PromoRetailers/_PromoRetailerSelection.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/PromoCountries/_PromoCountrySelection.js" asp-append-version="true"></script>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    @if (Model.IsEditMode)
                    {
                        <span>@L("EditPromo")</span>
                    }
                    else
                    {
                        <span>@L("CreateNewPromo")</span>
                    }
                </h3>
            </div>
        </div>
    </div>
    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <form name="PromoInformationsForm" role="form" novalidate class="form-validation">

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="id" value="@Model.Promo.Id" />
                        <input type="hidden" name="promocode" value="@Model.Promo.Promocode" />
                        <input type="hidden" name="selectedCountryIds" value="@Model.SelectedCountryIds" />

                        <!-- Promo Code -->
                        <div class="form-group">
                            <h6>@L("Promocode"):</h6>
                            @(!string.IsNullOrEmpty(Model.Promo.Promocode) ? Model.Promo.Promocode : L("N/A"))
                            @*<input class="form-control" id="Promo_Promocode" value="@Model.Promo.Promocode" type="text" name="promocode" required />*@
                        </div>
                    }

                    <div class="form-group">
                        <label for="PromoScopeDescription">@L("PromoScope")</label>
                        <select class="form-control" name="promoScope" id="promoScope" asp-items="ViewBag.AvailablePromoScopes"></select>
                    </div>

                    @if (Model.IsEditMode)
                    {
                        <input class="form-control" id="Promo_PromoScopeId" value="@Model.Promo.PromoScopeId" type="text" name="promoScopeId" required hidden />
                    }
                    else
                    {
                        <input class="form-control" id="Promo_PromoScopeId" value="" type="text" name="promoScopeId" required hidden />
                    }

                    <partial name="~/Areas/App/Views/PromoCountries/_PromoCountrySelection.cshtml" model="new RMS.Web.Areas.App.Models.PromoCountries.CountrySelectionViewModel { IsEditMode = Model.IsEditMode, AvailableCountries = Model.AvailableCountries }" />

                    <div class="form-group">
                        <label for="CampaignTypeName">@L("CampaignType")</label>
                        <select class="form-control" name="campaignType" id="campaignType" asp-items="ViewBag.AvailableCampaignTypes"></select>
                    </div>

                    @if (Model.IsEditMode)
                    {<input class="form-control" id="Promo_CampaignTypeId" value="@Model.Promo.CampaignTypeId" type="text" name="campaignTypeId" required hidden />
                    }
                    else
                    {
                        <input class="form-control" id="Promo_CampaignTypeId" value="" type="text" name="campaignTypeId" required hidden />
                    }

                    <!-- Promo Description -->

                    <div class="form-group">
                        <label for="Promo_Description">@L("Description")</label>
                        <input class="form-control" id="Promo_Description" value="@Model.Promo.Description" type="text" name="description" />
                    </div>

                    <!-- Promo Start -->

                    <div class="form-group">
                        <label for="Promo_PromoStart">@L("PromoStart")</label>
                        <div class="controls" style="position: relative">
                            <input class="form-control m-input date-picker" id="Promo_PromoStart" type="text" name="promoStart" value="@Model.Promo.PromoStart" />
                        </div>
                    </div>

                    <!-- Promo End -->

                    <div class="form-group">
                        <label for="Promo_PromoEnd">@L("PromoEnd")</label>
                        <div class="controls" style="position: relative">
                            <input class="form-control m-input date-picker" id="Promo_PromoEnd" type="text" name="promoEnd" value="@Model.Promo.PromoEnd" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Promo_CloseDate">@L("CloseDate")</label>
                        <div class="controls" style="position: relative;">
                            <input class="form-control m-input date-picker" id="Promo_CloseDate" type="text" name="closeDate" value="@Model.Promo.CloseDate" />
                        </div>
                    </div>

                    @if (Model.IsEditMode)
                    {
                        <!-- Partial Views: PromoProducts, PromoRetailers & PromoCountries -->
                        <partial name="~/Areas/App/Views/PromoRetailers/_PromoRetailerSelection.cshtml" />
                    }

                    <div class="form-group">
                        <label for="ProductCategoryDescription">@L("ProductCategory")</label>
                        <select class="form-control" name="productCategory" id="productCategory" asp-items="ViewBag.AvailableProductCategories"></select>
                    </div>

                    @if (Model.IsEditMode)
                    {
                        <input class="form-control" id="Promo_ProductCategoryId" value="@Model.Promo.ProductCategoryId" type="text" name="productCategoryId" required hidden />
                    }
                    else
                    {
                        <input class="form-control" id="Promo_ProductCategoryId" value="" type="text" name="productCategoryId" required hidden />
                    }

                    @if (Model.IsEditMode)
                    {
                        <partial name="~/Areas/App/Views/PromoProducts/_PromoProductSelection.cshtml" model='new RMS.Web.Areas.App.Models.Products.ProductSelectionViewModel { IsEditMode = promoIsEditMode, Products = Model.PromoProducts }' />
                    }

                    <!-- CustomerCode -->

                    <div class="form-group">
                        <label for="Promo_CustomerCode">@L("CustomerCode")</label>
                        <input class="form-control" id="Promo_CustomerCode" value="@Model.Promo.CustomerCode" type="text" name="customerCode" />
                    </div>

                    <div class="form-group m-form-group">
                        <label for="Promo_Comments">@L("Comments")</label>
                        <div class="controls" style="position:relative;">
                            <textarea class="form-control" id="Promo_Comments" name="comments">@Model.Promo.Comments</textarea>
                        </div>
                    </div>

                    <partial name="~/Areas/App/Views/PromoSteps/_PromoSteps.cshtml" model="new RMS.Web.Areas.App.Models.PromoSteps.CustomPromoStepsViewModel { IsEditMode = Model.IsEditMode, PromoSteps = Model.PromoSteps }" />
                </form>
            </div>
            <div class="kt-portlet__foot">
                <div class="row align-items-center">
                    <div class="col-md-12 kt-align-right pr-5">
                        <button id="CancelButton" type="button" class="btn btn-secondary close-button">@L("Cancel")</button>
                        <button id="SaveButton" type="button" class="btn btn-primary save-button"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
