
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.ProjectManagers
@model ProjectManagerViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ProjectManagerInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.ProjectManager.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("PhoneNumber") :</h6>
                @Model.ProjectManager.PhoneNumber
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmailAddress") :</h6>
                @Model.ProjectManager.EmailAddress
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Address")) @L("PostalCode") :</h6>
                @Model.AddressPostalCode
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

