
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.FormLocales
@model FormLocaleViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="FormLocaleInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.FormLocale.Description
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Form")) @L("Version") :</h6>
                @Model.FormVersion
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Locale")) @L("Description") :</h6>
                @Model.LocaleDescription
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

