
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.CampaignTypeEventRegistrationStatuses
@model CreateOrEditCampaignTypeEventRegistrationStatusModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditCampaignTypeEventRegistrationStatus")) : L("CreateNewCampaignTypeEventRegistrationStatus")))

<div class="modal-body">
        <div id="CampaignTypeEventRegistrationStatusInformationsTab">
            <form name="CampaignTypeEventRegistrationStatusInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.CampaignTypeEventRegistrationStatus.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="CampaignTypeEventSortOrder">@L("CampaignTypeEvent")</label>
									    <div class="input-group">
											<input class="form-control" id="CampaignTypeEventSortOrder" name="campaignTypeEventSortOrder" value="@Model.CampaignTypeEventSortOrder" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenCampaignTypeEventLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearCampaignTypeEventSortOrderButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="CampaignTypeEventRegistrationStatus_CampaignTypeEventId" value="@Model.CampaignTypeEventRegistrationStatus.CampaignTypeEventId" type="text" name="campaignTypeEventId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="CampaignTypeEventRegistrationStatus_CampaignTypeEventId" value="" type="text" name="campaignTypeEventId" required hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="RegistrationStatusDescription">@L("RegistrationStatus")</label>
									    <div class="input-group">
											<input class="form-control" id="RegistrationStatusDescription" name="registrationStatusDescription" value="@Model.RegistrationStatusDescription" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenRegistrationStatusLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearRegistrationStatusDescriptionButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="CampaignTypeEventRegistrationStatus_RegistrationStatusId" value="@Model.CampaignTypeEventRegistrationStatus.RegistrationStatusId" type="text" name="registrationStatusId" required hidden/>
								}
								 else
								{ 
									<input class="form-control" id="CampaignTypeEventRegistrationStatus_RegistrationStatusId" value="" type="text" name="registrationStatusId" required hidden/>
								}



				
								<div class="form-group">
									<label for="CampaignTypeEventRegistrationStatus_SortOrder">@L("SortOrder")</label>
									<input class="form-control m-input" id="CampaignTypeEventRegistrationStatus_SortOrder" value="@Model.CampaignTypeEventRegistrationStatus.SortOrder.ToString(CultureInfo.InvariantCulture)" type="number" name="sortOrder"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
