
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.CampaignTypeEventRegistrationStatuses
@model CampaignTypeEventRegistrationStatusViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="CampaignTypeEventRegistrationStatusInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("SortOrder") :</h6>
                @Model.CampaignTypeEventRegistrationStatus.SortOrder
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("CampaignTypeEvent")) @L("SortOrder") :</h6>
                @Model.CampaignTypeEventSortOrder
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("RegistrationStatus")) @L("Description") :</h6>
                @Model.RegistrationStatusDescription
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

