
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.CampaignForms
@model CampaignFormViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="CampaignFormInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("IsActive") :</h6>
                @Model.CampaignForm.IsActive
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Campaign")) @L("Name") :</h6>
                @Model.CampaignName
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("Form")) @L("Version") :</h6>
                @Model.FormVersion
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

