@using RMS.Authorization
@using RMS.Web.Areas.App.Models.Promos
@using RMS.Web.Areas.App.Startup
@model PromosViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.PromoCalendar;
}
@section Styles{
    <link href='/lib/fullcalendar/main.css' rel='stylesheet' />
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div class="kt-container ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("Calendar")</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="kt-form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="PromosTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetPromosButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PromocodeFilterId">@L("Promocode")</label>
                            <input type="text" class="form-control" name="promocodeFilter" id="PromocodeFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DescriptionFilterId">@L("Description")</label>
                            <input type="text" class="form-control" name="descriptionFilter" id="DescriptionFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PromoScopeFilterId">@L("PromoScope")</label>
                            <select class="form-control" name="promoScopeFilter" id="PromoScopeFilterId" asp-items="ViewBag.PromoScopes">
                                <option value="">@L("PickPromoScope")...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CampaignTypeFilterId">@L("CampaignType")</label>
                            <select class="form-control" name="campaignTypeFilter" id="CampaignTypeFilterId" asp-items="ViewBag.CampaignTypes">
                                <option value="">@L("PickCampaignType")...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ProductCategoryFilterId">@L("ProductCategory")</label>
                            <select class="form-control" name="productCategoryFilter" id="ProductCategoryFilterId" asp-items="ViewBag.ProductCategories">
                                <option value="">@L("PickProductCategory")...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="RetailerFilterId">@L("Retailer")</label>
                            <select class="form-control" name="retailerFilter" id="RetailerFilterId" asp-items="ViewBag.Retailers" multiple>
                                <option value="">@L("PickRetailers")...</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div id='promocalendar'></div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src='/lib/fullcalendar/main.js'></script>
    <script abp-src="/view-resources/Areas/App/Views/PromoCalendar/Index.js" asp-append-version="true"></script>
}