
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.PromoStepFieldDatas
@model CreateOrEditPromoStepFieldDataModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditPromoStepFieldData")) : L("CreateNewPromoStepFieldData")))

<div class="modal-body">
        <div id="PromoStepFieldDataInformationsTab">
            <form name="PromoStepFieldDataInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.PromoStepFieldData.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="PromoStepFieldDescription">@L("PromoStepField")</label>
									    <div class="input-group">
											<input class="form-control" id="PromoStepFieldDescription" name="promoStepFieldDescription" value="@Model.PromoStepFieldDescription" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenPromoStepFieldLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearPromoStepFieldDescriptionButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PromoStepFieldData_PromoStepFieldId" value="@Model.PromoStepFieldData.PromoStepFieldId" type="text" name="promoStepFieldId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PromoStepFieldData_PromoStepFieldId" value="" type="text" name="promoStepFieldId"  hidden/>
								}

            
								<div class="form-group m-form__group">
										<label for="PromoStepDataDescription">@L("PromoStepData")</label>
									    <div class="input-group">
											<input class="form-control" id="PromoStepDataDescription" name="promoStepDataDescription" value="@Model.PromoStepDataDescription" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenPromoStepDataLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearPromoStepDataDescriptionButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="PromoStepFieldData_PromoStepDataId" value="@Model.PromoStepFieldData.PromoStepDataId" type="text" name="promoStepDataId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="PromoStepFieldData_PromoStepDataId" value="" type="text" name="promoStepDataId"  hidden/>
								}



				
								<div class="form-group">
									<label for="PromoStepFieldData_Value">@L("Value")</label>
									<input class="form-control" id="PromoStepFieldData_Value" value="@Model.PromoStepFieldData.Value" type="text" name="value"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
