
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.PromoStepFieldDatas
@model PromoStepFieldDataViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PromoStepFieldDataInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Value") :</h6>
                @Model.PromoStepFieldData.Value
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("PromoStepField")) @L("Description") :</h6>
                @Model.PromoStepFieldDescription
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("PromoStepData")) @L("Description") :</h6>
                @Model.PromoStepDataDescription
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

