
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.CampaignTypes
@model CreateOrEditCampaignTypeModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditCampaignType")) : L("CreateNewCampaignType")))

<div class="modal-body">
        <div id="CampaignTypeInformationsTab">
            <form name="CampaignTypeInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.CampaignType.Id" />
                }

				

				
								<div class="form-group">
									<label for="CampaignType_Name">@L("Name")</label>
									<input class="form-control" id="CampaignType_Name" value="@Model.CampaignType.Name" type="text" name="name"  required    />
								</div>
					
								<div class="m-checkbox-list">
									<label for="CampaignType_IsActive" class="kt-checkbox">
										<input id="CampaignType_IsActive" type="checkbox" name="isActive" value="true" @Html.Raw(Model.CampaignType.IsActive ?"checked=\"checked\"":"") />
										@L("IsActive")
										<span></span>
									</label>
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
