
@using System.Globalization
@using RMS.Web.Areas.App.Models.Common.Modals
@using RMS.Web.Areas.App.Models.Messages
@model CreateOrEditMessageModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditMessage")) : L("CreateNewMessage")))

<div class="modal-body">
        <div id="MessageInformationsTab">
            <form name="MessageInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Message.Id" />
                }

                <div class="form-group m-form__group">
                    <label for="SystemLevelDescription">@L("SystemLevel")</label>
                    <div class="input-group">
                        <input class="form-control" id="SystemLevelDescription" name="systemLevelDescription" value="@Model.SystemLevelDescription" type="text" disabled>
                        <div class="input-group-append">
                            <button class="btn btn-primary blue" id="OpenSystemLevelLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
                        </div>
                        <div class="input-group-prepend">
                            <button class="btn btn-danger btn-icon" type="button" id="ClearSystemLevelDescriptionButton"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>

                @if (Model.IsEditMode)
                {
                    <input class="form-control" id="Message_SystemLevelId" value="@Model.Message.SystemLevelId" type="text" name="systemLevelId" required hidden />
                }
                else
                {
                    <input class="form-control" id="Message_SystemLevelId" value="" type="text" name="systemLevelId" required hidden />
                }


                <div class="form-group">
                    <label for="Message_Version">@L("Version")</label>
                    <input class="form-control" id="Message_Version" value="@Model.Message.Version" type="text" name="version" required maxlength="@RMS.SBJ.SystemTables.MessageConsts.MaxVersionLength" minlength="@RMS.SBJ.SystemTables.MessageConsts.MinVersionLength" />
                </div>


            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
